<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <!--    유효성 체크를 위한 함수 구현-->
  <script>
    function product_write(){
      var product_name = document.form1.product_name.value;
      var price = document.form1.price.value;
      var description = document.form1.description.value;

      if(product_name == ""){
        alert('상품명을 입력하세요.');
        document.form1.product_name.focus();
        return;
      }
      if(price == ""){
        alert('상품가격을 입력하세요.');
        document.form1.price.focus();
        return;
      }
      if(description == ""){
        alert('상품설명을 입력하세요.');
        document.form1.description.focus();
        return;
      }
      document.form1.action = "product_insert"
      document.form1.submit();
    }
  </script>
</head>
<body>
<h2>상품 등록 화면</h2>
<!--enctype="multipart/form-data" : 파일 불러오기 위함 (상품이미지)-->
<!--product_write()에서 유효성 검사를 확인하고 진행하기 위해 action에 담지 않는다-->
<form method="post" name="form1" enctype="multipart/form-data">
  {% csrf_token %}
  <table border="1">
    <tr>
      <td>상품명</td>
      <td><input type="text" name="product_name"></td>
    </tr>
    <tr>
      <td>상품가격</td>
      <td><input type="text" name="price"></td>
    </tr>
    <tr>
      <td>상품설명</td>
      <td>
        <textarea rows="5" cols="60" id="description" name="description"></textarea>
      </td>
    </tr>
    <tr>
      <td>상품이미지</td>
      <td>
        <input type="file" name="file1">
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <input type="button" value="등록" onclick="product_write()">
        <input type="button" value="목록" onclick="location.href='/shop/product_list'">
      </td>
    </tr>
  </table>
</form>
</body>
</html>